
@media screen and (min-width: 0px) and (max-width: 375px) {

    .main-heading {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 40px;
        padding-top: 50px;
        color: hsl(233, 13%, 49%);
    }

    .main-container {
        font-family: 'Montserrat', sans-serif;
        background-color: hsl(240, 78%, 98%);
        background-size: cover;
        padding-bottom: 15px;
        background: url(./pricing-html-css/images/bg-top.svg) right top no-repeat;
    }

    .time-frame {
        color: hsl(234, 14%, 74%);
        font-size: 17px;
    }

    .toggle-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        cursor: pointer;
    }

    .outer-container {
        height: 30px;
        width: 60px;
        background-color: hsl(237, 63%, 64%);
        border-radius: 18px;
        padding: 2px;
        margin-right: 15px;
        margin-left: 15px;
    }

    .outer-container .circle-container {
        height: 28px;
        width: 25px;
        background-color: #ffffff;
        border-radius: 50%;
        cursor: pointer;
    }

    .basic-card {
        background-color: white;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 40px;
        margin-right: 15%;
        margin-left: 15%;
        border-radius: 15px;
        margin-bottom: 35px;
    }
    .basic-card:hover{
        transform:scale(1.1);
        background-color: hsl(237, 63%, 64%);
    }

    .basic-heading {
        color: hsl(233, 13%, 49%);
    }
    .basic-card:hover .basic-heading{
        color: white; 
     }

    .base-price-arrange {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px;
    }

    .basic-price {
        font-size: 50px;
        font-weight: 800;
        margin: 0px;
        margin-bottom: 15px;
        color: hsl(232, 13%, 33%);
    }
    .basic-card:hover .basic-price {
        color: white;
    }

    .dollor {
        color: hsl(232, 13%, 33%);
        font-size: 35px;
        font-weight: 800;
        margin-top: 10px;
    }
    .basic-card:hover .dollor{
        color: white;
    }

    .horizontal-line {
        border-color: hsl(230, 9%, 86%);
        border-style: solid;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 0px;
    }

    .basic-details {
        color: hsl(233, 13%, 49%);
        font-size: 15px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .basic-card:hover .basic-details{
        color: white;
    }

    .basic-button {
        color: hsl(240, 78%, 98%);
        font-family: 'roboto';
        font-weight: 700;
        font-size: 15px;
        border-radius: 5px;
        border-width: 0px;
        height: 50px;
        width: 50%;
        margin-top: 5px;
        background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
    }
    .basic-card:hover .basic-button{
        background-image: linear-gradient(white, white);
        color: hsl(237, 63%, 64%);
    }
}

@media screen and (min-width: 376px) and (max-width: 1440px) {
    .main-heading {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 40px;
        padding-top: 50px;
        color: hsl(233, 13%, 49%);
    }

    .main-container {
        font-family: 'Montserrat', sans-serif;
        background-color: hsl(240, 78%, 98%);
        background-size: cover;
        padding-bottom: 15px;
        height: 100vh;
        background: url(./pricing-html-css/images/bg-top.svg) right top no-repeat, url(./pricing-html-css/images/bg-bottom.svg) left bottom no-repeat;
    }

    .time-frame {
        color: hsl(234, 14%, 74%);
        font-size: 17px;
    }

    .toggle-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        cursor: pointer;
        margin-bottom: 45px;
    }

    .outer-container {
        height: 30px;
        width: 60px;
        background-color: hsl(237, 63%, 64%);
        border-radius: 18px;
        padding: 2px;
        margin-right: 15px;
        margin-left: 15px;
    }

    .outer-container .circle-container {
        height: 28px;
        width: 25px;
        background-color: #ffffff;
        border-radius: 50%;
        cursor: pointer;
    }

    .large-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .basic-card {
        width: 25%;
        background-color: white;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 40px;
        border-radius: 15px;
        margin-bottom: 70px;
        margin-top: 30px;
    }
    .basic-card:hover{
        transform:scale(1.1);
        background-color: hsl(237, 63%, 64%);
    }

    .basic-heading {
        color: hsl(233, 13%, 49%);
    }
    .basic-card:hover .basic-heading{
        color: white; 
     }

    .base-price-arrange {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px;
    }

    .basic-price {
        font-size: 50px;
        font-weight: 800;
        margin: 0px;
        margin-bottom: 15px;
        color: hsl(232, 13%, 33%);
    }
    .basic-card:hover .basic-price {
        color: white;
    }

    .dollor {
        color: hsl(232, 13%, 33%);
        font-size: 35px;
        font-weight: 800;
        margin-top: 10px;
    }
    .basic-card:hover .dollor{
        color: white;
    }

    .horizontal-line {
        border-color: hsl(230, 9%, 86%);
        border-style: solid;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 0px;
    }

    .basic-details {
        color: hsl(233, 13%, 49%);
        font-size: 15px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .basic-card:hover .basic-details{
        color: white;
    }

    .basic-button {
        color: hsl(240, 78%, 98%);
        font-family: 'roboto';
        font-weight: 700;
        font-size: 15px;
        border-radius: 5px;
        border-width: 0px;
        height: 50px;
        width: 50%;
        margin-top: 5px;
        background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
    }
    .basic-card:hover .basic-button{
        background-image: linear-gradient(white, white);
        color: hsl(237, 63%, 64%);
    }
}
